@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
} */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.color-1{
    color: #131313;
}
.color-2{
    color: #424242;
}
.color-3{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}
.display-flex{
    display: flex;
}
.header-bg{
    background-color: rgba(255, 144, 14, 0.1);;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* Header Styles */
.header{
    padding-bottom: 50px;
}
.navbar{
    align-items: center;
    justify-content: space-between;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
}
.banner-description{
    margin: 30px 0;
}
.btn-primary{
    padding: 20px 25px;
    font-size: 1.2rem;
    background-color: #FF900E;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.banner-img{
    width: 100%;
    margin-top: 50px;
}

/* Team Part Start */
.team{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content{
    margin-left: 70px;
    max-width: 570px;
}
.team-span{
    font-weight: 500;
}
/* Responsive Area */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
        text-align: center;
    }
    .team{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: 1fr;
    }
    .team-content{
        margin-left: 20px;
    }
}